body {
  font-family: "ubuntu";
}

.img{
  border: 2px solid gray;
  transition: 1s;
}
.img:hover{
  border: 5px solid blue;
  border-radius: 10px;
}

.fonts{
  font-family: "vazir";
}

.boreder-radios{
  border-radius: 20px;
}
.borrrr{
  border-radius: 20px;
}
.bg-primary{
  background-color: blueviolet !important;
}
.bg-card{
  background-color: rgb(1, 46, 40);
}
.bg-doc{
  background-color: rgb(0, 105, 97);
}
.bg-channel{
  background-color: darkblue;
}
.bg-costomize{
  background-color: rgb(78, 0, 97);
}
.content{
  display: none;
}
.divv2{
  border-radius: 20px;
}

@font-face {
	font-family: "vazir";
	src: url("../fonts/vazir.ttf");
}
@font-face {
	font-family: "vazirb";
	src: url("../fonts/vazir_black.ttf");
}
@font-face {
	font-family: "ubuntu";
	src: url("../fonts/ubuntu.ttf");
}
.hover{
  transition: 1s;
}
.hover:hover{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-right: 5px;
}